# based on https://github.com/TeX-Live/setup-texlive-action/blob/main/.github/workflows/dependabot.yml
name: Pull Request Labeler

on:
  workflow_run:
    workflows: ['brew test-bot']
    types: [completed]

permissions:
  contents: read
  pull-requests: write

jobs:
  labeler:
    runs-on: ubuntu-slim
    if: |
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success' &&
      (
        contains(github.event.workflow_run.pull_requests[0].body, 'Created with `brew bump-cask-pr`.') ||
        contains(github.event.workflow_run.pull_requests[0].body, 'Created with `brew bump-formula-pr`.')
      )
    steps:
      - name: Add label
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          PR: ${{ github.event.workflow_run.pull_requests[0].number }}
        run: >-
          gh pr edit "$PR" --add-label "pr-pull"
